doctype html 
html(lang='en')
    head 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title NAW &mdash; travel makes easy
        meta(name='description' content='naw is travel solving website in nitj it solves the problem of travel by providing the online auto booking')
        link(rel='icon' href='/img/logo.png')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/index.css')
        script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
        script(nomodule src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
        script(src='' async defer)
    
    body 
        //- header.header 
        //-     nav.top-navigation.flex-2.pad16 
        //-         .logo 
        //-             img.logo(src='/img/logo.png' alt='logo photo')
        //-         .nav-links.flex-1.gap16 
        //-             a.link(href='#') Features
        //-             a.link(href='#') Testimonials
        //-             a.link(href='#') About-us
        //-             a.link(href='#') FAQ
        //-             a.link(href='#') Signup
        //-             a.link(href='#') Login
        //-             a.link(href='#') Book auto now!

        nav.booking-nav.flex-2.pad16 
            a(href='/')
                img.logo(src='/img/logo404.png' alt='logo of company')
            .nav-container.flex-1.gap32 
                p.greet= `hi! ${user.name}` 
                a.booing-btns(href='/') Home
                a.booing-btns(href='#') Logout 
                a(href='/my-account') 
                    img.logo(src=`/img/${user.photo}` alt='logo of company')
        section.review-section-new.pad96 
            h2.review-heading Leave Review
            .review-container-new 
                form.review-form-new.flex-1.gap16.flex-dir
                    textarea(name='review' cols='100%' rows='10' placeholder='leave your valuable review').review-actual-new
                    .star-rating.flex-1.gap16
                        ion-icon.star-icon.star1(name='star')
                        ion-icon.star-icon.star2(name='star')
                        ion-icon.star-icon.star3(name='star')
                        ion-icon.star-icon.star4(name='star')
                        ion-icon.star-icon.star5(name='star')
                    button.submitReviewNewBtn submit now!
        script(src='/js/reviewClient.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js')
