doctype html 
html(lang='en')
    head 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title NAW &mdash; travel makes easy
        meta(name='description' content='naw is travel solving website in nitj it solves the problem of travel by providing the online auto booking')
        link(rel='icon' href='/img/logo.png')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/index.css')
        script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
        script(nomodule src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
    body 
        section.termsAndCondtions-section.pad96 
            h1.tcheading Terms and consitions 
            .tc-container 
                ol.list-tc 
                    li You shall ensure that the Registration Data provided by You is accurate, current, valid and true and is updated from time to time. We shall not  be responsible for false, incomplete, old or incorrect Registration Data provided by You.
                    li You are solely responsible for maintaining the confidentiality of Your Registration Data and will be liable for all activities and transactions that occur through Your Account, whether initiated by You or any third party. Your Account cannot be transferred, assigned or sold to a third party. We shall not be liable for any loss that You may incur as a result of someone else using Your password or Account, either with or without Your knowledge
                    li We reserve the right to suspend or terminate Your Account with immediate effect and for  definite or indefinite period, if We have a reason to believe that the Registration Data or any other data provided by You is incorrect or false, or that the security of Your Account has been compromised in any way, or for any other reason We may find just or equitable.
                    li It is Your responsibility to check to ensure that You are using the correct application for Your device. We are not liable if You do not have a compatible device or if You are using  another duplicate  Application for Your mobile device
                    li The Services allows You to send a request through TTS to a Driver on the TTS network. The Driver has sole and complete discretion to accept or reject each request for Service. If the Driver accepts a request, TTS notifies You and provides information regarding the Driver - including Driver name, Vehicle number and such other details as TTS may determine
                    li By using the Application or the Service, You further agree that
                    li You will only use the Service for Your sole, personal use and will not resell or assign it to a third party
                    li You will not use an account that is subject to any rights of a person other than You without appropriate authorization
                    li You will not use the Service or Site for unlawful purposes
                    li You will not try to harm the Service, Site or our network in any way whatsoever
                    li You will provide TTS with such information and documents which TTS may reasonably reques
                    li You will only use an authorized network to avail the Service
                    li You are aware that when requesting Services standard data charges applicable, of the Your and Our phone network service providers, will apply
                    li You are aware of and shall comply with the Information Technology Act, 2000 and the rules, regulations and guidelines notified thereunder.
                    li TTS reserves the right to immediately terminate the Service and the use of the Application in the event of non-compliance with any of the above requirements. Further, TTS will store the information provided by You. You shall promptly inform to TTS on any change in the information provided by You.
                    li In the event of breakdown of the Vehicle, or any accident we are not answerable to anyone. All the responsibility will be of the driver and person own user. Our responsibility is only on the booking side
                    li If someone tries to get illegal stuff like drugs, alcohol, etc.  by using these service . we are not responsible for their act. And the strict action will be taken against that person.
                    li After a specific time while booking you will be able to cancel the auto and get full refund excluding taxes and else some payment may be deducted from the amount after a specific of cancellation.
                    li All the refund will take around 4-6 business/working days.
                    li The one must be at the  arrival place mentioned by him/her for pickup locations.
                    li For refund ,You have to provide correct mobile number which is registered on any of this plateform like google pay ,  Paytm , PhonePe etc. If mobile number provided by you is incorrect and refund is transfer to any another account . We are not responsible for  that.
                    li Night booking and pre-booking available between 6:00AM to 10:00 PM.
                    li During the night time for confirm booking, it should be done before 10:00 PM .
                    li If someone reaches late or not at exact location we are not responsible for that.
                    li There is no fix waiting time after booking, it all depends on auto driver when he is ready for the ride.
                    li If you misbehaves with auto driver strict action will be taken.
                    li For night travel we are not responsible for any miss-happening, all the responsibility will  of the person own .
                    li No smoking or drinking is allowed in the auto.
                    li If a driver cancels after waiting at Your location for more than 10 minutes, You will not be charged any Cancellation Fee.
                    li The time taken to reach at destination location from your current location ,It totally depend upon auto driver and traffic condition.
                    li Number of person per auto and per round is depend upon auto driver.
                    li Dual booking only possible if there is at least 6 number of person group.
                    li Price List is fixed by auto union. It is not our responsibility to change the price
                    li The information provided on and through this site is believed to be reliable when posted. However, we cannot guarantee that information will be accurate, complete and current at all times. All information on the Site is subject to modification from time to time without notice.
                    li Please read these Term and Conditions  carefully before using this site. You should review the Term and  Conditions regularly as they may change at any time
                    .check.flex-3.gap16
                        input(type='checkbox')
                        p I have read all the Term and condition carefully
                    a(href='/').submitTC submit 
